<h2>Edit a Product</h2>


<form class="productSubmit" action="/products/update?myId=<%= productDetails._id%>" method="post">
  <label class = "product_name edit" for="product-name-input">Product Name</label>
  <input id= "product-name-input" type="text" name="productName" value="<%= productDetails.name %>">
<br>

  <label class= "product_price" for="product-price-input">Price</label>
  <input id="product-price-input" type="number" name="productPrice" step="0.11" value="<%= productDetails.price %>">
<br>

  <label class="product_image" for="product-image-input">Image URL</label>
  <input id="product-image-input" type="url" name="productImageUrl" value="<%= productDetails.imageUrl %>">
<br>

  <label class="product_description" for="product-description-input">Description</label>
  <textarea id= "product-description-input" name="productDescription"><%= productDetails.description %></textarea>
  <br>

  <button type="submit" name="button">Save</button>

</form>
